body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:330px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:44px;
  background:inherit;
  background-color:rgba(23, 170, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2013 {
  position:absolute;
  left:112px;
  top:8px;
  width:178px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2014 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:624px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2015 {
  position:absolute;
  left:0px;
  top:52px;
  width:414px;
  height:624px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:304px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2017 {
  position:absolute;
  left:137px;
  top:617px;
  width:140px;
  height:40px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2019 {
  position:absolute;
  left:10px;
  top:0px;
  width:46px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:477px;
}
#u2020 {
  position:absolute;
  left:39px;
  top:98px;
  width:332px;
  height:477px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:230px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2022 {
  position:absolute;
  left:62px;
  top:135px;
  width:15px;
  height:16px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2024 {
  position:absolute;
  left:62px;
  top:185px;
  width:15px;
  height:16px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2026 {
  position:absolute;
  left:62px;
  top:240px;
  width:15px;
  height:16px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2028 {
  position:absolute;
  left:62px;
  top:295px;
  width:15px;
  height:16px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2030 {
  position:absolute;
  left:62px;
  top:354px;
  width:15px;
  height:16px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2032 {
  position:absolute;
  left:62px;
  top:412px;
  width:15px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2034 {
  position:absolute;
  left:62px;
  top:469px;
  width:15px;
  height:16px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2036 {
  position:absolute;
  left:62px;
  top:522px;
  width:15px;
  height:16px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:46px;
}
#u2038 {
  position:absolute;
  left:0px;
  top:52px;
  width:414px;
  height:46px;
  text-align:left;
}
#u2039 {
  position:absolute;
  left:2px;
  top:29px;
  width:410px;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2040 {
  position:absolute;
  left:94px;
  top:122px;
  width:252px;
  height:42px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:14px;
  width:248px;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  position:absolute;
  left:94px;
  top:174px;
  width:252px;
  height:42px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:14px;
  width:248px;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  position:absolute;
  left:94px;
  top:226px;
  width:252px;
  height:42px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:14px;
  width:248px;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  position:absolute;
  left:94px;
  top:282px;
  width:252px;
  height:42px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:14px;
  width:248px;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:94px;
  top:341px;
  width:252px;
  height:42px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:14px;
  width:248px;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:94px;
  top:399px;
  width:252px;
  height:42px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:14px;
  width:248px;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  position:absolute;
  left:94px;
  top:456px;
  width:252px;
  height:42px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:14px;
  width:248px;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2054 {
  position:absolute;
  left:94px;
  top:508px;
  width:252px;
  height:42px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:14px;
  width:248px;
  word-wrap:break-word;
}
