body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:676px;
  overflow:hidden;
}
#u916_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:676px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u916_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:210px;
  top:51px;
  width:204px;
  height:82px;
  opacity:0.7;
}
#u919 {
  position:absolute;
  left:2px;
  top:33px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:210px;
  top:51px;
  width:204px;
  height:43px;
  opacity:0.7;
}
#u921 {
  position:absolute;
  left:2px;
  top:14px;
  width:200px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:210px;
  top:94px;
  width:204px;
  height:39px;
  opacity:0.7;
}
#u923 {
  position:absolute;
  left:2px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:236px;
  top:99px;
  width:152px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u925 {
  position:absolute;
  left:237px;
  top:51px;
  width:155px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u927 {
  position:absolute;
  left:2px;
  top:330px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:47px;
}
#u928 {
  position:absolute;
  left:130px;
  top:4px;
  width:149px;
  height:47px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u929 {
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:619px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:0px;
  top:51px;
  width:414px;
  height:619px;
}
#u931 {
  position:absolute;
  left:2px;
  top:302px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:47px;
}
#u932 {
  position:absolute;
  left:321px;
  top:4px;
  width:87px;
  height:47px;
  font-size:28px;
  color:#FFFFFF;
}
#u933 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:676px;
  overflow:hidden;
}
#u934_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:676px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u934_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:580px;
}
#u935 {
  position:absolute;
  left:0px;
  top:94px;
  width:403px;
  height:580px;
}
#u936 {
  position:absolute;
  left:2px;
  top:282px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937 {
  position:absolute;
  left:0px;
  top:47px;
  width:202px;
  height:47px;
}
#u937_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937.selected {
}
#u938 {
  position:absolute;
  left:2px;
  top:16px;
  width:198px;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  position:absolute;
  left:202px;
  top:47px;
  width:202px;
  height:47px;
}
#u940 {
  position:absolute;
  left:2px;
  top:16px;
  width:198px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
}
#u941 {
  position:absolute;
  left:344px;
  top:9px;
  width:48px;
  height:37px;
}
#u942 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943 {
  position:absolute;
  left:322px;
  top:4px;
  width:87px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u944 {
  position:absolute;
  left:11px;
  top:4px;
  width:41px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
  background:inherit;
  background-color:rgba(28, 172, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:10px;
  top:8px;
  width:48px;
  height:36px;
}
#u946 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:676px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u934_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:672px;
  overflow:hidden;
}
#u947_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u947_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u949 {
  position:absolute;
  left:2px;
  top:330px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:47px;
}
#u950 {
  position:absolute;
  left:130px;
  top:4px;
  width:149px;
  height:47px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u951 {
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:567px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:0px;
  top:57px;
  width:414px;
  height:567px;
}
#u953 {
  position:absolute;
  left:2px;
  top:276px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:0px;
  top:57px;
  width:208px;
  height:60px;
}
#u954_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954.selected {
}
#u955 {
  position:absolute;
  left:2px;
  top:22px;
  width:204px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:208px;
  top:57px;
  width:208px;
  height:60px;
}
#u956_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956.selected {
}
#u957 {
  position:absolute;
  left:2px;
  top:22px;
  width:204px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:414px;
  height:116px;
}
#u958 {
  position:absolute;
  left:5px;
  top:127px;
  width:404px;
  height:106px;
}
#u959 {
  position:absolute;
  left:2px;
  top:45px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:414px;
  height:116px;
}
#u960 {
  position:absolute;
  left:5px;
  top:252px;
  width:404px;
  height:106px;
}
#u961 {
  position:absolute;
  left:2px;
  top:45px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:414px;
  height:116px;
}
#u962 {
  position:absolute;
  left:5px;
  top:388px;
  width:404px;
  height:106px;
}
#u963 {
  position:absolute;
  left:2px;
  top:45px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:14px;
  top:137px;
  width:86px;
  height:85px;
}
#u965 {
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  position:absolute;
  left:14px;
  top:263px;
  width:86px;
  height:85px;
}
#u967 {
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  position:absolute;
  left:14px;
  top:399px;
  width:86px;
  height:85px;
}
#u969 {
  position:absolute;
  left:2px;
  top:34px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u970 {
  position:absolute;
  left:119px;
  top:137px;
  width:269px;
  height:85px;
  text-align:left;
}
#u971 {
  position:absolute;
  left:2px;
  top:2px;
  width:265px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u972 {
  position:absolute;
  left:119px;
  top:263px;
  width:269px;
  height:85px;
  text-align:left;
}
#u973 {
  position:absolute;
  left:2px;
  top:2px;
  width:265px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u974 {
  position:absolute;
  left:119px;
  top:399px;
  width:269px;
  height:85px;
  text-align:left;
}
#u975 {
  position:absolute;
  left:2px;
  top:2px;
  width:265px;
  word-wrap:break-word;
}
#u976 {
  position:absolute;
  left:9px;
  top:130px;
  width:392px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u977 {
  position:absolute;
  left:11px;
  top:258px;
  width:392px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u978 {
  position:absolute;
  left:11px;
  top:399px;
  width:392px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:43px;
  background:inherit;
  background-color:rgba(28, 172, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  position:absolute;
  left:325px;
  top:4px;
  width:78px;
  height:43px;
}
#u980 {
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
  background:inherit;
  background-color:rgba(28, 172, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:9px;
  top:11px;
  width:48px;
  height:36px;
}
#u982 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:672px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u947_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:670px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:670px;
}
#u984 {
  position:absolute;
  left:2px;
  top:327px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u985 {
  position:absolute;
  left:130px;
  top:4px;
  width:149px;
  height:43px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u986 {
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:43px;
}
#u987 {
  position:absolute;
  left:318px;
  top:4px;
  width:87px;
  height:43px;
}
#u988 {
  position:absolute;
  left:2px;
  top:14px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:514px;
}
#u989 {
  position:absolute;
  left:0px;
  top:47px;
  width:414px;
  height:514px;
}
#u990 {
  position:absolute;
  left:2px;
  top:249px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:220px;
}
#u991 {
  position:absolute;
  left:100px;
  top:235px;
  width:179px;
  height:220px;
}
#u992 {
  position:absolute;
  left:2px;
  top:102px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
}
#u993 {
  position:absolute;
  left:298px;
  top:235px;
  width:95px;
  height:28px;
}
#u994 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u995 {
  position:absolute;
  left:303px;
  top:507px;
  width:90px;
  height:28px;
}
#u996 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
}
#u997 {
  position:absolute;
  left:170px;
  top:159px;
  width:74px;
  height:24px;
}
#u998 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  position:absolute;
  left:137px;
  top:235px;
  width:239px;
  height:21px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  position:absolute;
  left:137px;
  top:263px;
  width:239px;
  height:21px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1003 {
  position:absolute;
  left:137px;
  top:294px;
  width:239px;
  height:21px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1005 {
  position:absolute;
  left:137px;
  top:324px;
  width:239px;
  height:21px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:137px;
  top:354px;
  width:239px;
  height:21px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  position:absolute;
  left:137px;
  top:380px;
  width:239px;
  height:21px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1011 {
  position:absolute;
  left:137px;
  top:411px;
  width:239px;
  height:21px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1013 {
  position:absolute;
  left:137px;
  top:438px;
  width:239px;
  height:21px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:3px;
  width:235px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:105px;
}
#u1015 {
  position:absolute;
  left:6px;
  top:534px;
  width:393px;
  height:105px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:45px;
  width:389px;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:13px;
  top:4px;
  width:47px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:47px;
}
#u1018 {
  position:absolute;
  left:350px;
  top:4px;
  width:43px;
  height:47px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:0px;
  top:676px;
  width:407px;
  height:60px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:22px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u1022 {
  position:absolute;
  left:114px;
  top:693px;
  width:29px;
  height:27px;
  opacity:0.5;
}
#u1022_img.selected {
}
#u1022.selected {
  opacity:1;
}
#u1023 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u1024 {
  position:absolute;
  left:346px;
  top:693px;
  width:29px;
  height:27px;
  opacity:0.5;
}
#u1024_img.mouseOver {
}
#u1024.mouseOver {
}
#u1024_img.selected {
}
#u1024.selected {
  opacity:1;
}
#u1025 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u1026 {
  position:absolute;
  left:37px;
  top:693px;
  width:29px;
  height:27px;
  opacity:0.5;
}
#u1026_img.selected {
}
#u1026.selected {
  opacity:1;
}
#u1027 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u1028 {
  position:absolute;
  left:272px;
  top:693px;
  width:29px;
  height:27px;
  opacity:0.5;
}
#u1028_img.selected {
}
#u1028.selected {
  opacity:1;
}
#u1029 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
}
#u1030 {
  position:absolute;
  left:181px;
  top:665px;
  width:54px;
  height:55px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
