body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u2278 {
  position:absolute;
  left:2px;
  top:330px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:44px;
  background:inherit;
  background-color:rgba(23, 170, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2279 {
  position:absolute;
  left:112px;
  top:8px;
  width:178px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2280 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:624px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2281 {
  position:absolute;
  left:0px;
  top:52px;
  width:414px;
  height:624px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:304px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2283 {
  position:absolute;
  left:25px;
  top:62px;
  width:353px;
  height:27px;
  text-align:left;
}
#u2284 {
  position:absolute;
  left:2px;
  top:6px;
  width:349px;
  word-wrap:break-word;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  position:absolute;
  left:25px;
  top:89px;
  width:353px;
  height:69px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:26px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:48px;
}
#u2287 {
  position:absolute;
  left:179px;
  top:100px;
  width:46px;
  height:48px;
  font-size:18px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:13px;
  width:42px;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2289 {
  position:absolute;
  left:25px;
  top:163px;
  width:353px;
  height:27px;
  text-align:left;
}
#u2290 {
  position:absolute;
  left:2px;
  top:6px;
  width:349px;
  word-wrap:break-word;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:244px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2291 {
  position:absolute;
  left:25px;
  top:200px;
  width:353px;
  height:244px;
  text-align:left;
}
#u2292 {
  position:absolute;
  left:2px;
  top:8px;
  width:349px;
  word-wrap:break-word;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2293 {
  position:absolute;
  left:25px;
  top:460px;
  width:353px;
  height:27px;
  text-align:left;
}
#u2294 {
  position:absolute;
  left:2px;
  top:6px;
  width:349px;
  word-wrap:break-word;
}
#u2295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:117px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2295 {
  position:absolute;
  left:25px;
  top:487px;
  width:353px;
  height:117px;
  text-align:left;
}
#u2296 {
  position:absolute;
  left:2px;
  top:36px;
  width:349px;
  word-wrap:break-word;
}
#u2297 {
  position:absolute;
  left:10px;
  top:0px;
  width:46px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2298 {
  position:absolute;
  left:137px;
  top:627px;
  width:140px;
  height:40px;
}
#u2299 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2300 {
  position:absolute;
  left:310px;
  top:200px;
  width:68px;
  height:30px;
}
#u2301 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2302 {
  position:absolute;
  left:310px;
  top:487px;
  width:68px;
  height:30px;
}
#u2303 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
