body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:330px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:49px;
  background:inherit;
  background-color:rgba(23, 170, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1889 {
  position:absolute;
  left:112px;
  top:3px;
  width:178px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1890 {
  position:absolute;
  left:2px;
  top:12px;
  width:174px;
  word-wrap:break-word;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:624px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1891 {
  position:absolute;
  left:0px;
  top:52px;
  width:414px;
  height:624px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:304px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:197px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1893 {
  position:absolute;
  left:10px;
  top:396px;
  width:394px;
  height:197px;
  text-align:left;
}
#u1894 {
  position:absolute;
  left:2px;
  top:2px;
  width:390px;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:182px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1895 {
  position:absolute;
  left:10px;
  top:160px;
  width:394px;
  height:182px;
  text-align:left;
}
#u1896 {
  position:absolute;
  left:2px;
  top:2px;
  width:390px;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1897 {
  position:absolute;
  left:10px;
  top:113px;
  width:394px;
  height:37px;
  text-align:left;
}
#u1898 {
  position:absolute;
  left:2px;
  top:11px;
  width:390px;
  word-wrap:break-word;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1899 {
  position:absolute;
  left:137px;
  top:617px;
  width:140px;
  height:40px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1901 {
  position:absolute;
  left:10px;
  top:352px;
  width:394px;
  height:34px;
  text-align:left;
}
#u1902 {
  position:absolute;
  left:2px;
  top:10px;
  width:390px;
  word-wrap:break-word;
}
#u1903 {
  position:absolute;
  left:10px;
  top:0px;
  width:46px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u1904 {
  position:absolute;
  left:340px;
  top:354px;
  width:57px;
  height:30px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1906 {
  position:absolute;
  left:10px;
  top:66px;
  width:394px;
  height:37px;
  text-align:left;
}
#u1907 {
  position:absolute;
  left:2px;
  top:11px;
  width:390px;
  word-wrap:break-word;
}
