body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:676px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:330px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:44px;
  background:inherit;
  background-color:rgba(23, 170, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1689 {
  position:absolute;
  left:112px;
  top:8px;
  width:178px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1690 {
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:624px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1691 {
  position:absolute;
  left:0px;
  top:52px;
  width:414px;
  height:624px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:304px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1693 {
  position:absolute;
  left:137px;
  top:617px;
  width:140px;
  height:40px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1695 {
  position:absolute;
  left:10px;
  top:352px;
  width:394px;
  height:34px;
  text-align:left;
}
#u1696 {
  position:absolute;
  left:2px;
  top:10px;
  width:390px;
  word-wrap:break-word;
}
#u1697 {
  position:absolute;
  left:10px;
  top:0px;
  width:46px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u1698 {
  position:absolute;
  left:340px;
  top:354px;
  width:57px;
  height:30px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u1700 {
  position:absolute;
  left:10px;
  top:122px;
  width:387px;
  height:38px;
}
#u1700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1701 {
  position:absolute;
  left:10px;
  top:170px;
  width:387px;
  height:157px;
}
#u1701_input {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:157px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1702 {
  position:absolute;
  left:10px;
  top:401px;
  width:387px;
  height:195px;
}
#u1702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:195px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1703 {
  position:absolute;
  left:10px;
  top:74px;
  width:387px;
  height:38px;
}
#u1703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
